
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #defaultLayout {
  min-height: 100vh;
  margin: 0;
}

h1,h2,h3,h4,h5,h6, p{
  margin: 0;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 14;
  color: #212121;
  background-color: #fafafa;
}

input{
    
  outline: 0;
  background: #ffffff;
  width: 100%;
  border: 1px solid #e0dadafa;
  margin: 0 0 15px;
  padding: 10px;
  font-size: 14px;
  transition: all 0.3s;
  font-weight: 600;
  border-radius: 5px;
}

input:focus {
  border: 2px solid #52096b
}

/*estilo para os botões*/

.btn-add,
.btn-edit,
.btn-show,
.btn-delete,
.btn-cancel{
  font-family: Arial, Helvetica, sans-serif;
  outline: 0;
  background: #1a0e9c;
  border: 0;
  text-decoration: none;
  padding: 0;
  color: #ffffff;
  font-size: 18px;
  cursor: point;
}


.btn-add,
.btn-edit,
.btn-show,
.btn-delete,
.btn-cancel{
 padding: 0.5rem 0.75rem;
 font-size: 14px;
 border-radius: 4px;
}

.btn-add{
  background-color: #00a762;
}

.btn-delete{
  background-color: #b62424;
}

.btn-show{
  background-color: rgb(59,59,90);
}

.btn-cancel{
  background-color: rgb(45,174,184);
  color: #ffff;
}

.btn-logout{
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  color: #212121;
  transition: all 0.3s;
  border-radius: 6px;
}

.btn-logout:hover{
  background-color: rgba(0, 0, 0, 0.1);
}

.btn:hover,
.btn:active,
.btn:focus{
  background: #5b08a7;
}

/* estilo para tabela */

table{
  width: 100%;
  border-spacing:0 ;
  border-collapse: collapse;
  font-size: 15px;
}

th,td{
  padding:10px;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  text-align: left;
}

tbody tr:hover{
  background-color: #c9c1c1;
}

table > thead > tr > th{
  text-align: left;
  padding: 0.5rem 0.5rem;
  background-color: #0c770f;
  color: white;
}

table > thead > tr > th.center {
  padding: 0.5rem 0.5rem;
  border-bottom: 1px solid #efefef;
  text-align: center;
  vertical-align: middle;
}

th.actions, td.actions{
  width: 1%;
  white-space: nowrap;
  text-align: center;
  min-height: 100vh;
}

.display{
  display: flex;
  justify-content: center;
  padding: 20px;
}

.card{
  width: 70%;
  max-width: 100%;
  min-height: 30%;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgb(0, 0, 0, 0.1);
  padding: 1.25rem 1.5rem;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

/*estilo para login, updatepassword, register e forgotpassword*/

.login-signup-form{
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-signup-form .form{
  width: 560px;
  margin-top: 200px;
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 560px;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 00 0 2px 0 rgba(0, 0, 0, 0.2);
  font-size: 20px;
}

.login-signup-form .title{
  font-size: 25px;
  text-align: center;
}

.btn-block {
  background-color: #0e7b9c;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-block:hover {
  background-color: #0e7b9c;
}

.margem{
  margin-bottom: 20px;
}

.p-20 {
  margin-bottom: 20px;
}

.login-signup-form .form .message {
  margin: 15px;
  color: #b3b3b3;
  font-size: 16px;
  text-align: center;
}

.login-signup-form .form .message a {
  color: #5b08a7;
}

/*estilo para o default layout*/

#defaultLayout {
  display: flex;
}

#defaultLayout aside {
  width: 240px;
  padding: 1rem;
  color: white;
  background-color: #000000;
}

#defaultLayout aside > a {
  display: block;
  padding: 0.75rem 1rem;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: bold;
  transition: 0.3s;
}

#defaultLayout aside > a:hover {
  background-color: rgb(179, 174,174);
  border-radius: 6px;
}

#defaultLayout .content{
  flex: 1;
}

#defaultLayout header{
  height: 80px;
  background-color: rgb(122, 42, 42);
  color: white;
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 0 1rem;
}


#defaultLayout main{
  padding: 2rem;
}

